body,
html {
  background-color: #edeed4;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #a59c9a;
  /* color: rgb(245, 239, 238);  */
  z-index: 100;
}

nav a {
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
  color: rgb(245, 239, 238);
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a:active {
  background-color: rgb(160, 30, 204);
}

/* nav a:visited{
  color:orange
} */

#header {
  width: 100%;
  height: auto;
  /* background-image: url("../images/fruits.jpg"); */
  background-size: cover;
}

.center-text p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -90%);
  z-index: 1;
  color: #edeed4;
  text-align: center;
  font-family: Tilt Warp;
  font-size: 40px;
}

#apple {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -90%);
  z-index: 0;
  color: #edeed4;
}
@media only screen and (max-width: 900px) {
  .center-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 1;
    color: #edeed4;
    text-align: center;
    font-size: 10px;
  }
  #apple {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .center-text {
    display: none;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left {
  flex: 1;
  background-color: rgb(233, 218, 135);
  
}
.left a {
  text-decoration: none;
}
.left a:hover {
  
  color: #e01fb0;
}


.right {
  flex: 1;
  border: 5px solid rgb(231, 15, 15);
}

h1,
h2 {
  text-align: center;
  color: #e01fb0;
}

h3 {
  color: #e01fb0;
}
ul li {
  color: rgb(211, 88, 109);
  font-family: Calibri, sans-serif;
  font-size: 1.2rem;
}

.copyright{
  background-color: #a59c9a;
  text-align: center;
  color: rgb(245, 239, 238);
  padding: 20px;
  margin: 0;
   
}